@import '~styles/index.less';

.editor-center-area {
  flex: 1;
  margin-left: 200px;
}
.toolbar {
  text-align: center;
  padding: 5px;
}
.canvas{
  position: relative;
  width: 100%;
  height: calc(100% - 5px);
  overflow-y: auto;
}
.canvas-content {
  @gap: 16px;
  position: absolute;
  left: @gap;
  top: @gap;
  right: @gap;
  bottom: @gap;
}

