.simulator {
  position: relative;
}

.simulator-inner {
  position: absolute;
  left: 50%;
  border: 1px solid black;
  width: 375px;
  height: 100%;
  border: 0;
  transform: translateX(-50%);
  transform-origin: left top;

  // 禁止动画渲染中的svg里面的text在动画被拖动时误选中，提升使用体验
  text {
    user-select: none;
  }
}

.animation {
  width: 100%;
  height: 100%;
}

.placeholder {
  position: fixed;
  top: calc(50% + 15px);
  left: calc(50% - 27px);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
}