@padding: 25px;

.footer {
  padding: @padding;
  text-align: center;
  color: rgb(131 126 126 / 70%);
  font-size: 13px;
}

.external-link {
  color: rgb(131 126 126 / 70%);
  text-decoration: underline;

  &:hover {
    color: #d30245;
    text-decoration: underline;
  }
}
