@import '~styles/index.less';

.main-page {
  position: relative;
  background-color: #161616;
  color: @primary-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  :global(.anticon-arrow-right) {
    margin-left: 0px;
  }
}

.logo {
  position: absolute;
  left: 30px;
  top: 20px;
}

.brief {
  margin-top: -60px;
  margin-bottom: 8px;
  font-size: 46px;
  font-weight: bold;
  color: #fff;
}

.description {
  font-size: 16px;
  color: rgba(255, 255, 255, .7);
}

.button {
  margin-top: 50px;
  width: 160px;
  height: 46px;
  padding: 12px 20px;
  line-height: 20px;
  font-size: 20px;
}

:global(.anticon-arrow-right) {
  margin-left: 5px!important;
}
