@padding: 2px;
.lottie-player-controller {
  position: fixed;
  z-index: 1;
  bottom: 40px;
  left: calc(50% - 27px);
  transform: translateX(-50%);
  padding: @padding;
}

.percent-wrap {
  @margin: 20px;
  position: absolute;
  width: calc(100% - @padding * 2 - 2 * @margin + 5px);
  transform: translate3d(0, -40px, 0);
  left: @margin;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  line-height: 20px;
}